Backup/kioskotem/Service References/wcfkiosko/svcKiosko.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13641/svcKiosko.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfkiosko" />
  <xs:import schemaLocation="http://localhost:13641/svcKiosko.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getEjecutaStoredProcedure1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreSP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Valores" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEjecutaStoredProcedure1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfkiosko" minOccurs="0" name="getEjecutaStoredProcedure1Result" nillable="true" type="q1:Tabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEjecutaStoredProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreSP" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Valores" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEjecutaStoredProcedureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcfkiosko" minOccurs="0" name="getEjecutaStoredProcedureResult" nillable="true" type="q3:Tabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>