Backup/kioskotem/Service References/wcfkiosko/svcKiosko2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcfkiosko" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcfkiosko" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13641/svcKiosko.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Tabla">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columnas" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Filas" nillable="true" type="tns:ArrayOfFila" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tabla" nillable="true" type="tns:Tabla" />
  <xs:complexType name="ArrayOfFila">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fila" nillable="true" type="tns:Fila" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFila" nillable="true" type="tns:ArrayOfFila" />
  <xs:complexType name="Fila">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Campos" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fila" nillable="true" type="tns:Fila" />
</xs:schema>